/* NAV */

nav {
  position: fixed;
  width: 100vw;
  height: 40px;
  box-sizing: border-box;
  background: #303030;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  color: #fff;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center
}
.main-nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center
}
.main-nav .link-item {
  padding: 5px 10px;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid #aaa;
}
.main-nav .link-item:first-child {
  border-left: 1px solid #aaa;
}
.main-nav a {
  color: #eee;
  text-decoration: none
}

.user-nav .user-name {
  color: #10A1D8;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  cursor: pointer;
}
.user-nav .user-name:hover span{
  opacity: .8;
}
.user-nav .user-name:hover > .user-dropdown {
  transform: translateY(0)
}
.user-nav .user-name img {
  width: 16px;
}
.user-nav .user-dropdown {
  position: absolute;
  top: 30px;
  right: 0;
  
  background: #303030;
  color: #aaa;
  transform: translateY(-130px)
}
.user-nav .user-dropdown ul {
  list-style: none;
  padding: 1rem 0;
  margin: 0;
  width: 8rem;
  text-align: center;
  font-size: .9rem;
}
.user-dropdown ul li {
  padding: .3rem 0
}
.user-dropdown ul li:hover {
  background: rgba(255, 255, 255, .2)
}